html,body { 
    height: 100%;
    width: 100%;  
    position:relative;
    font-family: 'Open Sans';
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    flex-direction: row;
    padding-top: 4vw;
    justify-content:space-between;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 25px;
}


.menubar {
    font-size: x-large;
    text-align: center;
    margin:0px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 155px 155px 155px;
    grid-column-gap: 35px; /* Adjust the value to your preference */
}
.options {
  position: relative;
  display: inline-block;
}

.options::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%; /* Initially, set the width to 0 */
  bottom: -2px;
  height: 2px;
  background-color: black; /* Initial color of the underline */
  transition: right 0.3s ease; /* Transition the width */
}

.options:hover::after {
  right: 0; /* Expand the width to 100% on hover */
}
.m1{
    margin-left: auto;
}
.container-1{
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.para-1{
    width: 465px;
    margin-top: 125px;
}
.h1{
    font-size: 22px;
}

.email1{
    display: flex;
    flex-direction: row;   
}

.email{
    height: 50px;
    width: 255px;
    background-color:whitesmoke;
    border-radius: 5px;
}
.button1{
    background-color: rgb(47, 0, 255);
    margin-left: 15px;
    color:white;
    height: 56px;
    width: 185px;
    border-radius: 8px;
}


.back {
    background-position: center top; /* Center horizontally and top vertically */
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: -5px;
}


.container-2 {
    height: 705px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(248, 248, 254, 255);
}

.para-2{
    margin-top: 35px;
    margin-left: 45px;
    width: 655px;
}
.ph1{
    font-style:normal;
    width: 525px; 
}
.arrow{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    color: #64b4a4; 
    text-decoration: underline;
    text-decoration-color: #64b4a4;
}

.arr{
    margin-top: 14px;
    margin-left: 8px;
}
.info{
    width: 465px; 
    height: 285px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-self:center;
    border-radius: 15px;
    background: white;
    text-align: none;  
    box-shadow: 0.1px 0px 20px 0.1px rgba(248,247,253,255);
}
.quotes{
    margin-top: 28px;
    margin-left: 35px;
    width: 20px;
}
.quote-para{
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 18px;
}
.imageinfo{
    display: flex;
    flex-direction: row;
}

.profileimage{
    height: 70px;
    width: 70px;
 margin-top: 0px; 

    margin-left: 35px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: rgba(248,247,253,255);
    border: 8px transparent;
    display: flex;
    justify-content: center;
    background-image: url("img/avatar-testimonial.jpg");
    background-size: 75px;
}
.text{
    margin: 0px;
    margin-top: 4px; 
    margin-left: 15px;
    font-size: 19px;
}
.textp{
    margin: 0px;
    margin-top: 9px;
    margin-left: 15px;
    font-size: 15px;
}

.image2{
     margin-top: 105px;
    margin-right: 45px;
}


.container-3{
    color: white;
    height: 285px;
    margin: 0px;
    background-color:#585c8c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email2{
    display: flex;
    flex-direction: row;  
    margin-top: 115px;
    margin-right: 65px; 
}

.emaill{
    height: 50px;
    width: 255px;
    background-color:whitesmoke;
    border-radius: 5px;
}
.button2{
    background-color: rgb(72, 75, 208);
    margin-left: 15px;
    color:white;
    height: 56px;
    width: 185px;
    border-radius: 8px;
}


.t1{
    margin-left: 36px;
    margin-top: 25px;
    width: 385px;
}
.text-2{
    margin-left: 36px;
    margin-top: 0px;
    width: 385px;
}
.text-field{
    display: flex;
    flex-direction: column;
}







.container-4{
    width: 100%;    
    margin:0px;    
    display: flex;
    background-color: rgb(5, 40, 51);
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    color: white;
}



.icon2{
    max-height: 30px;
    max-width: 30px;
    margin-top:35px;
    margin-bottom: 25px;
    margin-left: 40px; 
      
}


.main2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-left: 40px;
}
.location{   
    display: flex;
    flex-direction: row;
}
.location img{
    padding-top: 15px;
}
.location p{
    margin-left: 10px;
    width: 450px;
}

.phone{   
    display: flex;
    flex-direction: row;
}
.phone img{
    padding-top: 15px;
}
.phone p{
    margin-left: 10px;
}

.emails{   
    display: flex;
    flex-direction: row;
}
.emails img{
    padding-top: 15px;
}
.emails p{
    margin-left: 10px;
}

.c{
    padding-left: 0px;
    font-size: 15px;
}
.d{
    padding-left: 0px;
    font-size: 15px;
}


.e {
  margin-top: 10px;
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb, .tw, .ins {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(5, 40, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 25px; /* Increased margin for more gap between icons */
  cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.fb:hover, .tw:hover, .ins:hover {
  background-color: #FF8ED6;
  transform: scale(1.5);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.fb.clicked, .tw.clicked, .ins.clicked {
  transform: scale(1.2); /* Shrink the icon when clicked */
}

.de{
    font-size: 12px;
    margin-right: 75px;
    text-align:right;    
}
.attribution{
  background-color: rgb(5, 40, 51);
  text-align: center;
  color: antiquewhite;
  margin: 0px;
}



@media only screen and (max-width: 1024px){
    .illus1{
        margin-left: 5vw;
        height: 35vw;
          width: 45vw;
    }
    .image2{
        height: 35vw;
          width: 45vw;
    }
}




@media only screen and (max-width: 768px) {
   
html,body { 
    height: 100%;
    width: 100%;  
    position:relative;
    font-family: 'Open Sans';
    margin: 0;
    /* overflow-x: hidden; */
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
    margin: 10% auto;
}

.menubar {
    grid-template-columns: 105px 105px 105px;
    grid-column-gap: 5px; 
    font-size: 3vw;
}

.container-1{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction:column-reverse;
    align-items: center;
}

.illus1{
    align-self: center;
    padding: 15px;
}

.para-1{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.h1{
     margin: 0 auto;
    max-width: 550px; /* Limiting maximum width */
    text-align: center;
    font-size: 5vw; /* Setting font size relative to viewport width */
    font-weight: bolder;
    line-height: 1.5;
    padding: 10px 0;
}

.p1 {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 600px; /* Limiting maximum width */
    text-align: center;
    line-height: 1.5;
    font-size: 3vw; /* Setting font size relative to viewport width */
}

.email1{
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;  
    align-self: center; 
}
.email{
    cursor: pointer;
    height: 8vw;
    width: 59vw;
    background-color:whitesmoke;
    align-self: center;
    border-radius: 5px;
     font-size: 3vw;
}
.button1{
    cursor: pointer;
    background-color: rgb(72, 75, 208);
    margin-left: 0px;
    margin-top: 5px;
    color:white;
    height: 8vw;
    width: 60.5vw;
    align-self: center;
    border-radius: 8px;
    font-size: 3vw;
    font-weight: bold;
}

.container-2 {
     height: 1400px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    background-color: rgba(248, 248, 254, 255);
    align-items: center;
}

.container-2 > * {
    margin: 0; /* Remove margin for child elements */
}

.image2{
    margin-top: 15px;
    margin-right: 0px;
    align-self: center;
    padding: 15px;
}

.h2{
    margin: 0 auto;
    max-width: 550px; /* Limiting maximum width */
    text-align: center;
    font-size: 5vw; /* Setting font size relative to viewport width */
    font-weight: bolder;
    line-height: 1.5;
    padding: 10px 0;
}

.ph1 {
    margin: auto;
    margin-top: 2vw; /* Adjust top margin for responsiveness */
    margin-bottom: 2vw; /* Adjust bottom margin for responsiveness */
    max-width: 80vw; /* Limiting maximum width to 80% of viewport width */
    text-align: start;
    line-height: 1.5;
    font-size: 3vw; /* Setting font size relative to viewport width */
}


.arrow {
    align-items: center; /* Align items vertically center */
    justify-content: center; /* Align items horizontally center */
    margin-bottom: 25px;
    font-size: 3vw;
}
.arr{
    margin-top: 12px;
    margin-left: 8px;
}

.para-2{
    margin-left: 0px;
}

.info{
    width: 68vw; 
    height: 300px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-content: center;
    border-radius: 15px;
    background: white;
    text-align: none;  
    box-shadow: 0.1px 0px 20px 0.1px rgba(131, 130, 130, 0.5);
}

.quotes{
    margin-top: 12px;
    margin-left: 3vw;
    width: 3vw;
}
.quote-para{
    margin-top: 15px;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2.5vw;
}
.profileimage{ 
   height: 70px;
   width: 70px;  
   margin-top: 15px; 
   margin-left: 3vw;   
}

.text{
    margin: 0px;
    margin-top:18px; 
    margin-left: 2vw;
    font-size: 3vw;
}
.textp{
    margin: 0px;
    margin-top: 8px;
    margin-left: 2vw;
    font-size: 2vw;
}

.container-3 {
    color: white;
    height: 550px;
    margin: 0;
    padding: 0;
    background-color: #585c8c;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center;
}

.container-3 > * {
    margin: 0; 
    flex: 1; 
}

.t1{
    margin: 0 auto;
    margin-top: 25px;
    max-width: 550px; /* Limiting maximum width */
    text-align: center;
    font-size: 5vw; /* Setting font size relative to viewport width */
    font-weight: bolder;
    line-height: 1.5;
    padding: 10px 0;
}
.text-2{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 600px; /* Limiting maximum width */
    text-align: center;
    line-height: 1.5;
    font-size: 3vw; /* Setting font size relative to viewport width */
}

.email2{
     margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;  
    align-self: center; 
}
.emaill{
    cursor: pointer;
    height: 8vw;
    width: 48vw;
    background-color:whitesmoke;
    align-self: center;
    border-radius: 5px;
     font-size: 3vw;
}

.button2{
    cursor: pointer;
    background-color: rgb(72, 75, 208);
    margin-left: 0px;
    margin-top: 5px;
    height: 8vw;
    width: 49vw;
    align-self: center;
    border-radius: 8px;
    font-size: 3vw;
    font-weight: bold;
}

.container-4{
    width: 100%;    
    margin:0px;    
    display: flex;
    background-color: rgb(5, 40, 51);
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    color: white;
    align-items: start;
}

.icon2{
    max-height: 30px;
    max-width: 170px;
    margin-top:35px;
    margin-bottom: 25px;
    margin-left: 40px; 
      
}

.icon2 img{
    padding-top: 2px ;
    padding-left: 0px;
    width: 160px;    
}

.main2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.c{
    margin-left: 40px; 
}
.d{
    margin-left: 40px; 
}
.e {
  margin-top: 10px;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;  
}
.fb, .tw, .ins {
  margin: 5px; /* Increased margin for more gap between icons */
}
.de{
    font-size: 12px;
    margin-right: 0px;
    text-align:center;
    align-self: center;    
}
}

@media only screen and (max-width: 425px) {

.limg{
    height: 30px;
    width: 95px;
}
.menubar {
    grid-template-columns: 50px 50px 50px;
    grid-column-gap: 5px; 
    font-size: 3vw;
} 

.illus1{
    height: 75vw; /* 275px / 350px * 100vw = 38.75vw */
    width: 95vw;     /* 350px / 350px * 100vw = 50vw */
    align-self: center;
    padding: 6.25vw; /* 15px / 350px * 100vw = 6.25vw */
}

.email{
    margin-top: 10px;   
    height: 10vw;
    width: 62vw;
    font-size: 3.5vw;
}
.button1{
    margin-top: 10px;
    color:white;
    height: 10.5vw;
    width: 64vw;
    border-radius: 7px;
    font-size: 3.5vw;
}

.back {
    margin-top: 45px;
}
.container-2 {
    height: 950px;
}

.container-2 > * {
    margin: 0; /* Remove margin for child elements */
}

.image2{
    margin-top: 0px;
    margin-right: 0px;
    height: 75vw; /* 275px / 350px * 100vw = 38.75vw */
    width: 95vw;     /* 350px / 350px * 100vw = 50vw */
    align-self: center;
    padding: 6.25vw; /* 15px / 350px * 100vw = 6.25vw */
}

.ph1 {
    font-size: 4vw; /* Setting font size relative to viewport width */
}

.arrow {
    margin-bottom: 25px;
    font-size: 4vw;
}

.info{
    width: 75vw; 
    height: 250px;
    margin: 25px auto;
    margin-bottom: 35px;
}

.quotes{
    margin-top: 0px;
    margin-left: 3vw;
    width: 5vw;
}

.quote-para{
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 3.5vw;
    line-height: 5vw;
}

.text{
    margin-top:28px; 
    margin-left: 3vw;
    font-size: 3.5vw;
}

.textp{
    margin-top: 6px;
    margin-left: 3vw;
    font-size: 3vw;
}

.container-3 {
    height: 320px;
}

.t1{
    margin: 0 auto;
    margin-top: 25px;
    max-width: 550px; /* Limiting maximum width */
    font-size: 6vw; /* Setting font size relative to viewport width */
}

.text-2{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3.5vw; /* Setting font size relative to viewport width */
}

.emaill{
    margin-top: 0px;   
    height: 10vw;
    width: 62vw;
    font-size: 3.5vw;
}
.button2{
    margin-top: 10px;
    color:white;
    height: 10.5vw;
    width: 64vw;
    border-radius: 7px;
    font-size: 3.5vw;
}
}